---
version: '3.7'
services:
    prometheus:
        restart: always
        image: 'prom/prometheus:v2.36.0'
        user: 'root'
        ports:
            - '9090:9090'
        volumes:
            - '/opt/prometheus/:/prometheus'
            - './configs/prometheus-docker-compose.yml:/etc/prometheus/prometheus.yml'
            - './configs/faucet.rules.yml:/etc/prometheus/faucet.rules.yml'
        networks:
            - dovesnap
        labels:
            - "dovesnap.namespace=monitoring"
    grafana:
        restart: always
        image: 'grafana/grafana:8.5.5'
        user: 'root'
        ports:
            - '3000:3000'
        volumes:
            - '/opt/grafana:/var/lib/grafana'
            - './configs/dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml'
            - './configs/dashboards:/var/lib/grafana/dashboards'
        networks:
            - dovesnap
        labels:
            - "dovesnap.namespace=monitoring"
networks:
    dovesnap:
