name: test

on: [push, pull_request]

env:
  POETRY_VERSION: 1.8.1

jobs:
  gofmt:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
          version: ${{ env.POETRY_VERSION }}
      - name: poetry install
        run: |
          poetry build && poetry install
      - name: go format and pytype
        run: ./tests/codecheck.sh
  standalone_noconfig_int_test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
          version: ${{ env.POETRY_VERSION }}
      - name: poetry install
        run: |
          poetry build && poetry install
      - name: standalone_noconfig_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_standalone_noconfig.sh
  standalone_int_test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
          version: ${{ env.POETRY_VERSION }}
      - name: poetry install
        run: |
          poetry build && poetry install
      - name: standalone_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_standalone.sh
  standalone2_int_test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
          version: ${{ env.POETRY_VERSION }}
      - name: poetry install
        run: |
          poetry build && poetry install
      - name: standalone_int_test2
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_standalone_2.sh
  standalone_routed_int_test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
          version: ${{ env.POETRY_VERSION }}
      - name: poetry install
        run: |
          poetry build && poetry install
      - name: standalone_routed_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_standalone_routed.sh
  stack_int_test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
          version: ${{ env.POETRY_VERSION }}
      - name: poetry install
        run: |
          poetry build && poetry install
      - name: stack_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_stack.sh
  mirrorbridge_int_test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
          version: ${{ env.POETRY_VERSION }}
      - name: poetry install
        run: |
          poetry build && poetry install
      - name: mirrorbridge_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_mirrorbridge.sh
  dhcp_int_test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
          version: ${{ env.POETRY_VERSION }}
      - name: poetry install
        run: |
          poetry build && poetry install
      - name: dhcp_int_test
        run: |
          ./tests/install_test.sh && ./tests/test_dovesnap_dhcp.sh

  vlan_config_test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
          version: ${{ env.POETRY_VERSION }}
      - name: poetry install
        run: |
          poetry build && poetry install
      - name: vlan_config_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_vlan_config.sh
