name: test

on: [push, pull_request]

jobs:
  gofmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: go format
        run: ./tests/codecheck.sh
  pip-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: go format
        run: |
          ./pipbuild.sh && pip3 install dist/dovesnap*tar.gz
  standalone_noconfig_int_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: standalone_noconfig_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_standalone_noconfig.sh
  standalone_int_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: standalone_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_standalone.sh
  standalone2_int_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: standalone_int_test2
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_standalone_2.sh
  standalone_routed_int_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: standalone_routed_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_standalone_routed.sh
  stack_int_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: stack_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_stack.sh
  mirrorbridge_int_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: mirrorbridge_int_test
        run: |
          ./tests/install_test.sh && timeout 600 ./tests/test_dovesnap_mirrorbridge.sh
  dhcp_int_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: dhcp_int_test
        run: |
          ./tests/install_test.sh && ./tests/test_dovesnap_dhcp.sh
